<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragments/layout/default}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Edit Wish</h1>

            <a th:href="@{/wishlists/{id}(id=${wish.getWishlistId()})}" class="btn btn-secondary mb-3">Wishlist</a>

            <div th:replace="wish/fragments/form.html :: form('patch')"></div>
        </div>
    </body>
</html>