<!DOCTYPE html>
<html>
    <head>
        <!-- Include Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Wishes</h1>
        <a th:href="@{/wishes/new}">New</a>

        <div th:each="wish: ${wishes}">
            <span th:text="${wish.getId()}" />
            <span th:text="${wish.getContent()}" />

            <a th:href="@{/wishes/{id}/edit(id=${wish.getId()})}">Edit</a> |
            <a th:href="@{/wishes/{id}(id=${wish.getId()})}">Show</a> |

            <form action="#" th:action="@{/wishes}" th:object="${wish}" th:method="delete" style="display:inline;">
                <input type="hidden" name="id" th:value="${wish.getId()}" />
                <button type="submit" style="background:none;border:none;text-decoration:underline;color:#0d6efd;padding:0;">Delete</button>
            </form>
        </div>
    </body>
</html>