<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Show</h1>
        <a th:href="@{/wishes}">All</a> |
        <a th:href="@{/wishes/{id}/edit(id=${wish.getId()})}">Edit</a> |
        <a href="#">New wishlist</a>
        <form action="#" th:action="@{/wishes}" th:object="${wish}" th:method="delete" style="display:inline;">
            <input type="hidden" name="id" th:value="${wish.getId()}" />
            <button type="submit" style="background:none;border:none;text-decoration:underline;color:#0d6efd;padding:0;">Delete</button>
        </form>
        <div>
            <p>Content:</p>
            <p th:text="${wish.getContent()}"></p>
        </div>

        
    </body>
</html>