<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragments/layout/default}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Edit User</h1>
        
            <a th:href="@{/users/{id}(id=${user.getId()})}" class="btn btn-secondary mb-3">Show</a>

            <div th:replace="user/fragments/form.html :: form('patch')"></div>
        </div>
    </body>
</html>