<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragments/layout/default}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1>User</h1>

            <a th:href="@{/users}" class="btn btn-primary">All</a>
            <a th:href="@{/users/{id}/edit(id=${user.getId()})}" class="btn btn-primary">Edit</a>
            <div th:replace="user/fragments/delete.html :: delete(${user})"></div>

            <hr>

            <div th:replace="user/fragments/entity.html :: entity"></div>

            <hr>

            <a th:href="@{/wishlists/new(user_id=${user.getId()})}" class="btn btn-secondary mb-3">New Wishlist</a>
            <div th:replace="wishlist/fragments/collection.html :: collection"></div>
        </div>
    </body>
</html>