<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Show</h1>
        <a th:href="@{/users}">All</a> |
        <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a> |

        <form action="#" th:action="@{/users}" th:object="${user}" th:method="delete" style="display:inline;">
            <input type="hidden" name="id" th:value="${user.getId()}" />
            <button type="submit" style="background:none;border:none;text-decoration:underline;color:#0d6efd;padding:0;">Delete</button>
        </form>
        <div>
            <p>Email:</p>
            <p th:text="${user.getEmail()}"></p>
        </div>

        
    </body>
</html>