<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Edit Wishlist</h1>
        <a th:href="@{/wishlists}">All</a> |
        <a th:href="@{/wishlists/{id}(id=${wishlist.getId()})}">Show</a>
        <form action="#" th:action="@{/wishlists}" th:object="${wishlist}" th:method="patch">
            <input type="hidden" name="id" th:value="${wishlist.getId()}"
            <p>Title: <input type="text" name="content" th:value="${wishlist.getTitle()}" /></p>
            <p><input type="submit" value="Submit" />
        </form>
    </body>
</html>