<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragments/layout/default}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
                <div>
                    <small class="text-muted">Wishlist title</small><br>
                    <strong th:text="${wishlist.getTitle()}" class="mb-0 mt-0" />
                </div>
                <div class="d-flex gap-2">                    
                    <div th:replace="wishlist_share/fragments/show.html :: show(${wishlistShare}, ${wishlist.getId()})"></div>

                    <div class="vr"></div>

                    <a th:href="@{/wishes/new(wishlist_id=${wishlist.getId()})}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-plus"></i>
                        <i class="fa-solid fa-gift"></i>
                    </a>

                    <div class="vr"></div>

                    <a th:href="@{/users/{id}(id=${wishlist.getUserId()})}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    
                    <a th:href="@{/wishlists/{id}/edit(id=${wishlist.getId()})}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-pen"></i>
                    </a>

                    <div th:replace="wishlist/fragments/delete.html :: delete(${wishlist})"></div>
                </div>
            </div>

            <div th:replace="wish/fragments/collection.html :: collection"></div>
        </div>
    </body>
</html>