<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragments/layout/default}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Wishlist</h1>
        
            <a th:href="@{/users/{id}(id=${wishlist.getUserId()})}" class="btn btn-primary">User</a>
            <a th:href="@{/wishlists/{id}/edit(id=${wishlist.getId()})}" class="btn btn-primary">Edit</a>
            <div th:replace="wishlist/fragments/delete.html :: delete(${wishlist})"></div>
            
            <hr>

            <div th:replace="wishlist/fragments/entity.html :: entity"></div>

            <hr>

            <a th:href="@{/wishes/new(wishlist_id=${wishlist.getId()})}" class="btn btn-secondary mb-3">New Wish</a>
            <div th:replace="wish/fragments/collection.html :: collection"></div>
        </div>
    </body>
</html>