<div th:fragment="form(method)" xmlns:th="http://www.thymeleaf.org">
    <form action="#" th:action="@{/users}" th:object="${user}" th:method="${method}">
        <input type="hidden" name="id" th:value="${user.getId()}" />

        <div class="form-group">
            <label name="email">Email</label>
            <input type="text" name="email" th:value="${user.getEmail()}" class="form-control" />
        </div>

        <input type="submit" class="btn btn-primary mt-3" value="Submit" />
    </form>
</div>